<footer>
    {% include paginate.html %}
    {% include suggestion.html %}
    {% if page.url == "/about" or paginator.total_pages == 1 or page.url == "/404" %}
        <div class="container" style="text-align: center; margin-bottom: 20px">
            <a target="_blank" class="button" href="https://github.com/{{ site.github_username }}">
                Follow me on github
            </a>
        </div>
    {% endif %}
    <hr />
    <div class="user-footer">
        <div class="copyright alignable pull-left">
            {% if site.copyright %}
                <h2> &copy;{{ site.copyright }}</h2>
            {% else %}
                <h2> &copy;{{ site.title }}</h2>
            {% endif %}
        </div>
        <div class="alignable pull-right">
            <a target="_blank" href="https://github.com/{{ site.github_username }}" class="button">
                @{{ site.github_username }}
            </a>
            <a href="mailto:{{ site.email }}" class="button">
                mail
            </a>
            <a target="_blank" href="{{ site.url }}{{ site.baseurl }}/feed.xml" class="button">
                rss
            </a>
        </div>
    </div>

</footer>
